@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  font-family: "Montserrat", sans-serif !important;
}
img,
picture,
svg {
  max-width: 100% !important;
  display: block !important;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none !important;
}
body {
  width: 100%;
  height: 100vh !important;
}
.App {
  background-color: #1b1b1b;
}
.App .navbar {
  background-color: #1b1b1b !important;
  color: white !important;
}
.navbar .logo {
  font-size: 2.125rem !important;
  font-weight: bold;
}
.navbar .navbar-nav {
  max-height: max-content !important;
}
.navbar .nav-link {
  color: #fff !important;
}

.navbar .dropdown .dropdown-menu {
  border-radius: 0 !important;
  -webkit-border-radius: 0.5rem !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  padding: 1rem !important;
  border: none !important;
  width: 500px !important;
  margin-top: 1rem !important;
  background-color: rgb(59, 52, 52) !important;
}
.navbar .dropdown .dropdown-menu a {
  color: #fff !important;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  padding: 0.1875rem 0.4375rem !important;
  border-radius: 0.5rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.navbar .dropdown .dropdown-menu a:hover {
  background-color: rgb(241, 36, 36);
}

.navbar .dropdown .dropdown-menu .row {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
}
.navbar .container button span {
  border: none !important;
}
@media screen and (max-width: 769px) {
  .navbar .dropdown .dropdown-menu {
    max-width: 100% !important;
    width: 100% !important;
  }
  .navbar .dropdown .dropdown-menu .row {
    grid-template-columns: 1fr 1fr !important;
  }
}
.navbar .dropdown .dropdown-menu .row {
  display: grid !important;
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.navbar .dropdown .dropdown-menu hr {
  display: none !important;
}
.navbar .container button {
  background-color: white !important;
  outline: none !important;
  border: none !important;
  color: white !important;
}
.navbar .container button span {
  color: white !important;
  border: none !important;
}
.navbar a:hover {
  color: red !important;
}
.navbar a.active {
  color: red !important;
}
.navbar form input {
  outline: none !important;
  border: none !important;
}
.navbar form .btn-search {
  color: #fff;
  background-color: red !important;
  outline: none !important;
  border: none !important;
}
main.container {
  min-height: calc(100vh - 5rem);
}
/* .hero {
  height: 43.75rem;
} */
.hero .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hero .container .img-container {
  margin-top: 0.625rem !important;
  margin-bottom: 1.25rem !important;
}
.hero .container .img-container img {
  height: 100%;
  background-size: cover;
}
.hero .container .content {
  margin: 20px 0 !important;
}
.hero .container .content .title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.625rem !important;
}
.hero .container .content .overview {
  font-size: 1rem;
  max-width: 31.25rem !important;
  color: #b8b4b4;
  line-height: 1.5;
  margin-bottom: 0.625rem !important;
}
.hero .container .content .callToAction {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.25rem !important;
}
.button {
  width: max-content;
  padding: 0.625rem 1rem !important;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.hero .container .content .callToAction a.trailer-btn {
  background-color: #fff;
  color: #1b1b1b;
  font-weight: 600;
}
.hero .container .content .callToAction a.btn-more {
  background-color: rgb(241, 36, 36);
  color: #fff;
  font-weight: 600;
  margin-left: 0.625rem !important;
}
@media screen and (min-width: 1024px) {
  .hero .container .img-container {
    height: 100%;
    margin: 0 !important;
  }
  .hero .container .content {
    position: absolute;
    top: 40%;
    left: 3.75rem;
  }
  .hero .container .content .overview {
    color: #fff;
  }
}
.popular-movies {
  overflow: hidden;
}
.popular-movies .popular-title {
  font-size: 25px;
  padding-left: 0.625rem !important ;
  border-left: 4px solid red;
}
.popular-movies .line {
  flex: 1;
  height: 2px;
  background-color: #fff;
}
.popular-movies .container {
  width: 100% !important;
}

.top-movies {
  overflow: hidden;
}
.top-movies .top-title {
  font-size: 25px;
  padding-left: 0.625rem !important ;
  border-left: 4px solid red;
}
.top-movies .line {
  flex: 1;
  height: 2px;
  background-color: #fff;
}
.top-movies .container {
  width: 100% !important;
}

.up-movies {
  overflow: hidden;
}
.up-movies .up-title {
  font-size: 25px;
  padding-left: 0.625rem !important ;
  border-left: 4px solid red;
}
.up-movies .line {
  flex: 1;
  height: 2px;
  background-color: #fff;
}
.up-movies .container {
  width: 100% !important;
}

/* ---Start-page-trailer--- */
.hero-trailer {
  height: calc(100vh - 80px);
}
.hero-trailer .close {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem !important;
  background-color: red;
  border: none;
  color: white;
  padding: 0.6rem 1.4rem !important;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.0625rem;
}
.hero-trailer .iframe {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---End-page-trailer--- */
/* ----Start-page-movie-details-------- */
.movie-details .details {
  height: calc(100vh - 300px);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}
.movie-details .profile {
  height: 18.75rem;
  width: 11.25rem;
}

.movie-details .title {
  font-size: 34px;
}
.movie-detail .movie-info .movie-category span {
  margin: 1rem !important;
}
.movie-cast div div {
  width: 9.375rem !important;
  height: 20.625rem !important;
  border-radius: 0.5rem;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}
.movie-cast > div .profile-title {
  font-size: 0.9375rem !important;
}
.movie-details h3 {
  border-left: 4px solid red;
  padding-left: 1.25rem !important;
}
/* ----End-page-movie-details-------- */
/* ----start-actor-page---- */
.Actor {
  margin-top: 2.5rem !important;
}
.Actor .Actor-details .details h4 {
  font-weight: bold;
  font-size: 1.5625rem;
}
.Actor .Actor-details .details p {
  color: red;
}
.Actor .Actor-details.details p span {
  color: #c7bebe !important;
}
.Actor .Actor-details .details a {
  padding-bottom: 1rem !important;
  color: #fff;
  background-color: red;
  padding: 0.625rem 0.875rem !important;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-top: 0.625rem !important;
}
.Actor .Image-Actor h3 {
  border-left: 4px solid red;
  padding-left: 1.25rem !important;
}
.Actor .Actor-movies h3 {
  border-left: 4px solid red;
  padding-left: 1.25rem !important;
}
.Actor .sliderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.875rem !important;
}
.Actor .sliderDiv .movie-card,
.Actor .sliderDiv img {
  width: 200px;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  cursor: pointer;
}
/* ----start-slider--- */
.sliderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.125rem;
}
.sliderDiv li {
  width: 200px !important;
}
.sliderDiv .splide__arrows .splide__arrow--prev,
.sliderDiv .splide__arrows .splide__arrow--next {
  background-color: red;
  color: #fff;
}
.sliderDiv .splide__list {
  padding: 1rem 0.625rem !important;
  gap: 1.25rem !important;
}
.sliderDiv .splide__list .splide__slide {
  height: auto !important;
}
/* ----End-slider--- */
/* ----end-actor-page---- */

/* --item-movie--- */
#movie-item {
  overflow: hidden !important;
  cursor: pointer;
  outline: 4px solid;
  outline-color: transparent;
}
#movie-item span {
  left: -400px;
  top: 0;
  display: flex !important;
  align-items: center !important;
  height: 1.875rem;
  position: absolute;
  background-color: #ffd34c !important;
  color: #222 !important;
  padding: 0 0.375rem !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  border-radius: 0.3125rem;
  -webkit-border-radius: 0.3125rem;
  -moz-border-radius: 0.3125rem;
  -ms-border-radius: 0.3125rem;
  -o-border-radius: 0.3125rem;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#movie-item a::before {
  content: "";
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(
    123deg,
    rgb(101 101 101/0%) 0%,
    rgba(23, 26, 35, 0.85) 100%
  );
  transition: all 0.4s ease;
  bottom: 0;
  left: 0;
  position: absolute;
  display: none !important;
}

#movie-item h4 {
  display: none !important;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all 0.4s ease;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
#movie-item:hover h4 {
  display: flex !important;
  bottom: 20px;
}
#movie-item:hover a::before {
  display: block !important;
}
#movie-item:hover span {
  top: 0.625rem;
  left: 0.625rem;
}
/* ----pagination--- */
.pagination-container {
  display: flex !important;
  justify-content: space-between !important;
  gap: 0.5rem;
}
.pagination .page-item {
  background-color: red !important;
}
.pagination .page-item .page-link {
  background-color: transparent !important;
  border: none !important;
  padding: 5px 10px !important;
  color: #fff !important;
  font-weight: 500;
}
.pagination .active-page {
  background-color: #fff !important;
}
.pagination .active-page .active {
  color: #1b1b1b !important;
}
.container h3 {
  border-left: 4px solid red !important;
  padding-left: 0.625rem !important;
}
@media screen and (max-width: 768px) {
  .splide__arrows {
    display: none !important;
  }
}
